<div style="margin: 5px auto; width: 500px;">
  <h1>Add your Restaurant Name</h1>
  <%= form_for @restaurant, url: {action: :create} do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name%>
  </p>

  <p>
    <%= f.label :street %><br>
    <%= f.text_field :street%>
  </p>

  <p>
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </p>

  <p>
    <%= f.label :state %><br>
    <%= f.text_field :state %>
  </p>

  <p>
    <%= f.label :country %><br>
    <%= f.text_field :country %>
  </p>

  <p>
    <%= f.label :postal_code %><br>
    <%= f.text_field :postal_code %>
  </p>

  <%= f.submit "Add Restaurant" %>
  <% end %>
  <br>
<button style="background-color: #cbf797; display: block"><%= link_to "Go Back Listings", restaurants_path %></button>
  
</div>