<h1><%= @restaurant.name %></h1>

  <p><b>Street: </b> <i><%= @restaurant.street %></i></p>
  <p><b>City: </b> <i><%= @restaurant.city %></i></p>
  <p><b>State: </b> <i><%= @restaurant.state %></i></p>
  <p><b>Country: </b> <i><%= @restaurant.country %></i></p>
  <p><b>Postal Code: </b> <i><%= @restaurant.postal_code %></i></p>

