<h1><%= @restaurant.name %></h1>
<span><%= @restaurant.street %></span><br>
<span><%= @restaurant.city %></span><br>
<span><%= @restaurant.state %></span><br>
<span><%= @restaurant.country %></span><br>
<span><%= @restaurant.postal_code %></span>