<h1>Restaurants</h1>

<%= link_to "Go to Restaurants list", restaurants_path %>

<p><%= @restaurant.name %></p>

<p><%= @restaurant.street %></p>

<p><%= @restaurant.city %></p>

<p><%= @restaurant.state %></p>

<p><%= @restaurant.country %></p>

<p><%= @restaurant.postal_code %></p>
