<%= link_to 'return to list of restaurants', restaurants_path %>

<% if @restaurant %>

  <h1><%= @restaurant.name %></h1>
  <p><%= @restaurant.street %></p>
  <p><%= @restaurant.city %></p>
  <p><%= @restaurant.state %></p>
  <p><%= @restaurant.country %></p>
  <p><%= @restaurant.postal_code %></p>

<% else %>

  <p>Restaurant is not found. Please check the name</p>

<% end %>

<%= link_to "edit", edit_restaurant_path(@restaurant) %>
